<div
  class="city-weather-list"
  fxLayout="row wrap"
  fxLayoutAlign="center center"
>
  <div
    class="city-weather-list__card"
    (click)="onCitySelect(item.cityName || '')"
    *ngFor="let item of citiesWeatherList$ | async"
  >
    <wa-card
      [title]="item.cityName"
      [icons]="cityWeatherIcons"
      [bottomSubtitle]="item.windSpeed"
      [contentImage]="item.temperature?.image || null"
      [subTitle]="item.temperature?.description || null"
      [mainDescription]="item.temperature?.value || null"
    ></wa-card>
  </div>
</div>
