<mat-card class="card-wrapper">
  <mat-card-header class="card-wrapper__header-title">
    <mat-card-title
      fxLayout="row"
      class="display-2"
      fxLayoutAlign="start center"
    >
      <mat-icon class="mr-10">
        {{ icons.title }}
      </mat-icon>

      <div>
        {{title}}
      </div>
    </mat-card-title>

    <mat-card-subtitle class="display-4 card-wrapper__sub-title">
      {{subTitle}}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div
      fxLayout="row wrap"
      fxLayoutAlign="start center"
    >
      <span class="card-wrapper__content-main-title display-1">
        {{ mainDescription }}
      </span>

      <img
        alt="card image"
        [src]="contentImage"
      />
    </div>

    <div
      fxLayout="row wrap"
      fxLayoutAlign="start center"
      class="display-4 card-wrapper__sub-title"
    >
      <mat-icon class="mr-10">
        {{ icons.bottomSubtitle }}
      </mat-icon>

      <span>
        {{ bottomSubtitle }}
      </span>
    </div>
  </mat-card-content>
</mat-card>
