@import '../../../../assets/styles/index';

.card-wrapper {
  width: 300px;
  min-height: 200px;
  box-shadow:
    0 3px 1px -2px rgb(0 0 0 / 20%),
    0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
  background: linear-gradient(150deg, map-get($app-colors, grey), map-get($app-colors, burgundy-light));

  mat-card-header {
    //TODO: move it to styles
    margin-left: -16px;
  }

  &__content-main-title, &__sub-title {
    @include color-with-opacity(black, 0.6);
  }
}
