@import 'src/styles';

.card-wrapper {
  width: 250px;
  min-height: 200px;
  box-shadow:
    0 3px 1px -2px rgb(0 0 0 / 20%),
    0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
  background: linear-gradient(
    150deg,
    map-get($wa-colors, brand-grey),
    map-get($wa-colors, brand-burgundy-light),
  );

  &__content-main-title, &__sub-title {
    @include color-with-opacity(brand-black, 0.6);
  }
}

@media screen and (min-width: 599px) {
  .card-wrapper {
    width: 350px;
  }
}
