<div class="city-weather-forecast">
  <div class="city-weather-forecast__header display-2">
    <span>
      <mat-icon
        (click)="goBack()"
        class="city-weather-forecast__header__arrow-back"
      >
        arrow_back
      </mat-icon>

      <span>
        {{ cityWeatherForecast.cityName }}
      </span>
    </span>

    <span *ngIf="cityWeatherForecast && cityWeatherForecast.forecast.length > 0">
      {{ cityWeatherForecast.forecast[0].temperature }}
    </span>
  </div>

  <wa-city-weather-forecast-list
    class="city-weather-forecast__list"
    [list]="cityWeatherForecast.forecast"
  ></wa-city-weather-forecast-list>
</div>
