<div class="city-weather-forecast">
  <div class="city-weather-forecast__header display-2">
    <span>
      <mat-icon class="city-weather-forecast__header__arrow-back" (click)="goBack()">
        arrow_back
      </mat-icon>

      {{cityWeatherForecast.cityName}}
    </span>

    <span *ngIf="cityWeatherForecast && cityWeatherForecast.forecast.length > 0">
      {{cityWeatherForecast.forecast[0].temperature}}
    </span>
  </div>

  <app-city-weather-forecast-list
    class="city-weather-forecast__list"
    [list]="cityWeatherForecastList"
  ></app-city-weather-forecast-list>
</div>
