@import '../styles/index';

.wa-wrapper {
  height: 100%;

  &__main-toolbar {
    position: relative;
    color: map-get($wa-colors, brand-white);
    background-color: map-get($wa-colors, brand-burgundy);
  }
}
