@import '.././assets/styles';

.app-wrapper {
  height: 100%;

  &__main-toolbar {
    position: relative;
    color: map-get($app-colors, white);
    background-color: map-get($app-colors, burgundy);
  }
}
