@import '~@angular/material/theming';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@include mat-core();
@import './styles/index';

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mr-10 {
  margin-right: 10px;
}

.text-center {
  text-align: center;
}
