@import './assets/styles/index';

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mr-10 {
  margin-right: 10px;
}

.text-center {
  text-align: center;
}
